# Data transformation

Categorizing numerical variables

In [1]:
# Ignore warnings :
import warnings
warnings.filterwarnings('ignore')

# Data handling
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
import itertools
import numpy as np

# Data Exploration
import missingno

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import set_matplotlib_formats
import cufflinks as cf
import plotly.express as px
import matplotlib.gridspec as gridspec
import plotly.graph_objects as go
import plotly.figure_factory as ff

In [2]:
diamonds=pd.read_csv('/home/carmencuadrado/Ironhack/ih_datamadpt0420_project_m2/diamonds_train.csv')

In [3]:
diamonds['table_type']=diamonds['table'].apply(lambda x: "Excellent" if x>=53 and x<=58 else ("Very good" if x>=52 and x<=53 else ("Very good" if x>=58 and x<=60 else ("Upper outlier" if x>60 else "Lower outlier"))))
diamonds['carat_scale']=diamonds['carat'].apply(lambda x: "0-0.10" if x>0 and x<=0.10 else("0.10-0.25" if x>0.10 and x<=0.25 else ("0.25-0.50" if x>0.25 and x<=0.50 else ("0.50-0.75" if x>0.50 and x<=0.75 else ("0.75-1" if x>0.75 and x<=1 else ("1-1.25" if x >1 and x<=1.25 else ("1.25-1.50" if x>1.25 and x<=1.50 else ("1.50-1.75" if x>1.50 and x<=1.75 else ("1.75-2" if x>1.75 and x<=2 else ("2-2.5" if x>2 and x<=2.5 else ("2.5-3" if x>2.5 and x<3 else ("3-4" if x>3 and x<=4 else "+4"))))))))))))
diamonds['depth_type']=diamonds['depth'].apply(lambda x: "Excellent" if x>=59 and x<=62.3 else ("Very good" if x>=58 and x<=58.9 else ("Very good" if x>=62.4 and x<=63.8 else ("Upper outlier" if x>63.8 else "Lower outlier"))))

In [4]:
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,table_type,carat_scale,depth_type
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,Excellent,1-1.25,Very good
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,Excellent,0.25-0.50,Very good
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,Excellent,0.50-0.75,Upper outlier
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,Excellent,0.25-0.50,Very good
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,Very good,1-1.25,Excellent

Sorting by numerical variables

In [5]:
diamonds['table_type'] = pd.Categorical(diamonds['table_type'], ['Lower outlier','Upper outlier','Very good','Excellent'])
diamonds['carat_scale'] = pd.Categorical(diamonds['carat_scale'], ["0-0.10","0.10-0.25","0.25-0.50","0.50-0.75","0.75-1","1-1.25","1.25-1.50","1.50-1.75","1.75-2","2-2.5","2.5-3","3-4","+4"])
diamonds['depth_type'] = pd.Categorical(diamonds['depth_type'], ['Lower outlier','Upper outlier','Very good','Excellent'])

In [6]:
diamonds.sort_values(['table_type','carat_scale','depth_type'],ascending=(False,False,False))
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,table_type,carat_scale,depth_type
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,Excellent,1-1.25,Very good
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,Excellent,0.25-0.50,Very good
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,Excellent,0.50-0.75,Upper outlier
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,Excellent,0.25-0.50,Very good
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,Very good,1-1.25,Excellent

Sorting by categorical variables

In [7]:
diamonds['cut'] = pd.Categorical(diamonds['cut'], ["Fair", "Good","Very Good","Premium","Ideal"])
diamonds['clarity'] = pd.Categorical(diamonds['clarity'], ["I1", "I2","I3","SI1","SI2","VS1","VS2","VVS1","VVS2","IF"])
diamonds['color'] = pd.Categorical(diamonds['color'], ["I","J","H","G","F","E","D"])

In [8]:
diamonds.sort_values(['cut','clarity','color'],ascending=(False,False,False))
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,table_type,carat_scale,depth_type
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,Excellent,1-1.25,Very good
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,Excellent,0.25-0.50,Very good
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,Excellent,0.50-0.75,Upper outlier
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,Excellent,0.25-0.50,Very good
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,Very good,1-1.25,Excellent

In [9]:
diamonds.sort_values('price').head()

,carat,cut,color,clarity,depth,table,price,x,y,z,table_type,carat_scale,depth_type
18377,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Upper outlier,0.10-0.25,Excellent
9782,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Excellent,0.10-0.25,Excellent
18381,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Upper outlier,0.10-0.25,Lower outlier
20968,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Excellent,0.25-0.50,Very good
12084,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Excellent,0.25-0.50,Very good

In [10]:
diamonds_cutypes=['Round', "Princess", "Cushion", "Oval", "Emerald", "Heart", "Pear", "Marquise", "Asscher","Radiant"]
d=dict()
for i in diamonds_cutypes:
    url=f'https://www.brilliance.com/education/diamond-size-chart/{i}'
    html = requests.get(url).text
    soup = BeautifulSoup(html, 'lxml')
    table = soup.find_all('td')  
    d[i]=[table[x:x+2] for x in range(0,len(table),2)]

In [11]:
def clean(x):
    return re.sub('<.*?>','',str(x))

In [12]:
def clean1 (x):
    return re.sub('ct.','',str(x))

In [13]:
def clean2 (x):
    return re.sub('mm.','',str(x))

In [14]:
x=d["Princess"]
length=[]
carat=[]
for i in x:
    length.append(i[0])
    carat.append(i[1])
princess=pd.DataFrame()
princess['Princess length']=length
princess['carat']=carat
princess['Princess length']=princess['Princess length'].apply(clean)
princess['carat']=princess['carat'].apply(clean)
princess['Princess length']=princess['Princess length'].apply(clean2)
princess['carat']=princess['carat'].apply(clean1)

In [15]:
princess['Princess length']=princess['Princess length'].astype('float64', copy=False)
princess['carat']=princess['carat'].astype('float64', copy=False)
diamonds= pd.merge(diamonds,princess, on='carat', how='left')
diamonds['Princess length']=diamonds['Princess length'].fillna(0)

In [16]:
diamonds['diamonds_type']=np.where(diamonds['Princess length']==diamonds['x'], 'princess', 'other')

In [17]:
x=d["Cushion"]
cushion=pd.DataFrame()
lenght=[]
carat=[]
for i in x:
    lenght.append(i[0])
    carat.append(i[1])
cushion=pd.DataFrame()
cushion['cushion lenght']=lenght
cushion['carat']=carat
cushion['cushion lenght']=cushion['cushion lenght'].apply(clean)
cushion['carat']=cushion['carat'].apply(clean)
cushion['cushion lenght']=cushion['cushion lenght'].apply(clean2)
cushion['carat']=cushion['carat'].apply(clean1)

In [18]:
cushion=cushion.astype('float64', copy=False)
diamonds= pd.merge(diamonds,cushion, on='carat', how='left')

In [19]:
diamonds['cushion lenght']=diamonds['cushion lenght'].fillna(0)

In [20]:
diamonds['diamonds_type']=np.where(diamonds['cushion lenght']==diamonds['x'], 'cushion', 'other')

In [21]:
x=d["Oval"]
oval=pd.DataFrame()
length=[]
carat=[]
for i in x:
    length.append(i[0])
    carat.append(i[1])
oval=pd.DataFrame()
oval['oval length']=length
oval['carat']=carat
oval['oval length']=oval['oval length'].apply(clean)
oval['carat']=oval['carat'].apply(clean)
oval['oval length']=oval['oval length'].apply(clean2)
oval['carat']=oval['carat'].apply(clean1)

In [22]:
# new data frame with split value columns 
new = oval["oval length"].str.split("x", n = 1, expand = True) 
oval["z"]= new[0] 
oval["x"]= new[1] 
oval.drop(columns =["oval length"], inplace = True)

In [23]:
oval=oval.astype('float64', copy=False)
diamonds= pd.merge(diamonds,oval, on='carat', how='left')

In [25]:
diamonds['z_y']=diamonds['z_y'].fillna(0)
diamonds['x_y']=diamonds['x_y'].fillna(0)

In [30]:
diamonds['diamonds_type']=np.where((diamonds['z_x'].any()==diamonds['x_y'] and diamonds['x_x'].any()==diamonds['z_y']), 'oval', 'other')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [157]:
x=d["Emerald"]
Emerald=pd.DataFrame()
width=[]
carat=[]
for i in x:
    width.append(i[0])
    carat.append(i[1])
emerald['emerald width']=width
emerald['carat']=carat
emerald['emerald width']=emerald['emerald width'].apply(clean)
emerald['carat']=emerald['carat'].apply(clean)
emerald['emerald width']=emerald['emerald width'].apply(clean2)
emerald['carat']=emerald['carat'].apply(clean1)

NameError: name 'emerald' is not defined

In [ ]:
diamonds['emerald width']= diamonds['carat'].map(round['carat']).fillna(0)

In [ ]:
y=d["Heart"]
heart=pd.DataFrame()
width=[]
carat=[]
for i in y:
    width.append(i[0])
    carat.append(i[1])
heart['heart width']=width
heart['carat']=carat
heart['heart width']=heart['heart width'].apply(clean)
heart['carat']=heart['carat'].apply(clean)
heart['heart width']=heart['heart width'].apply(clean2)
heart['carat']=heart['carat'].apply(clean1)

In [ ]:
diamonds['heart width']= diamonds['carat'].map(round['carat']).fillna(0)

In [ ]:
x=d["Marquise"]
marquise=pd.DataFrame()
width=[]
carat=[]
for i in x:
    width.append(i[0])
    carat.append(i[1])
marquise['marquise width']=width
marquise['carat']=carat
marquise['marquise width']=marquise['marquise width'].apply(clean)
marquise['carat']=marquise['carat'].apply(clean)
marquise['marquise width']=marquise['marquise width'].apply(clean2)
marquise['carat']=marquise['carat'].apply(clean1)

In [ ]:
diamonds['maquise width']= diamonds['carat'].map(round['carat']).fillna(0)

In [ ]:
round=pd.DataFrame()
x=d['Round']
width=[]
carat=[]
for i in x:
    width.append(i[0])
    carat.append(i[1])
round['Round length']=width
round['carat']=carat
round['Round length']=round['Round length'].apply(clean)
round['carat']=round['carat'].apply(clean)
round['Round length']=round['Round length'].apply(clean2)
round['carat']=round['carat'].apply(clean1)
round['Round length']=round['Round length'].astype('float64', copy=False)
round['carat']=round['carat'].astype('float64', copy=False)
diamonds= pd.merge(diamonds,round, on='carat', how='left')
diamonds['Round length']=diamonds['Round length'].fillna(0)
diamonds['diamonds_type']=np.where(diamonds['Round length']==diamonds['x'], 'Round', diamonds['diamonds_type']))

In [ ]:

fig = plt.figure(figsize=(10, 8))
ax = sns.violinplot(x='Cylinders', y='Combined MPG', data=vehicles);

In [ ]:

rows = table.find_all(['a', 'span'], {'class': ['storylink', 'sitestr', 'hnuser', 'score', 'age']})
rows_parsed = [row.text for row in rows]

rows_parsed

In [ ]:

atos = pd.DataFrame({'Loc': ['A', 'B', 'C', 'D'], 
                      'eventAccel': ['0', '0', '1', '2'],
                      'eventBrake': ['2', '0', '0', '1']},
                      dtype=int
                     )

condiciones = [(diamonds.eventAccel == 0) & (datos.eventBrake == 0),
               (datos.eventAccel > 0) & (datos.eventBrake == 0),
               (datos.eventAccel == 0) & (datos.eventBrake > 0),
               (datos.eventAccel > 0) & (datos.eventBrake > 0)
               ]
elecciones = np.array((0, 1, 2, 3), dtype="int8")
datos["Categoría"] = np.select(condiciones, elecciones, -1)

In [ ]:
# your code here
colors = ['#ff9999','#66b3ff','#99ff99']
 
# create data
size_of_groups=diamonds['diamonds_type'].value_counts()
df = size_of_groups.rename_axis('size_of_groups').reset_index(name='counts')
df.replace({1:'Round',2:'Princess',3:'Cushion',4:'Emerald',5:'Heart',6:'Pear',7:'Marquise',8:'Radiant',9:'Asscher'}, inplace=True)

# Create a pieplot
plt.pie(size_of_groups, labels=df['counts'])
plt.legend(df['size_of_groups'])
plt.title('Titanic class distribution')
plt.tight_layout()

# add a circle at the center
my_circle=plt.Circle( (0,0), 0.7, color='white')
p=plt.gcf()
p.gca().add_artist(my_circle)

plt.show()